@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We keep all your data, and you can't do anything about it. We have no GDPR, no security, no nothing. So post at your own risk. And we will sell any of your data if we get a hold of it.</p>
